extends ./layout.pug

block content
  section.site-hero.overlay
    .container
      .row.align-items-center.site-hero-inner.justify-content-center
        .col-md-8.text-center
          .mb-5
            h1 Find Swift Packages
            p Discover libraries that support Swift Package Manager
          form#search-form.form-inline(v-on:submit.prevent="performSearch")
            input#search-input.form-control.form-control-block.search-input(type='text', v-model="searchQuery", placeholder='Package name, keywords or github username')
            button#search-submit.btn.btn-primary(type='submit') Search
  // END section
  section
    #results.container
      ul#results-list.list-group-flush.row
        li.list-group-item.col-12(v-if="searchResults != null && searchResults.length === 0")
          strong No Results Found
        li.container.list-group-item.col-12.mt-4(v-for="result in searchResults")
          div.row.mb-3
            div.col-md-9.mb-2
              h3
                a(target="_blank", v-bind:href="result.html_url")
                  span 
                    strong {{ result.full_name }}
              p {{ result.description }}
            div.col-md-3.meta.mb-2
              div.row
                div.col-6.col-lg-12
                  span.stargazers
                    i.icon.ion-ios-star
                    span.value {{ result.stargazers_count }}
                div.col-6.col-lg-12
                  span.tag
                    i.icon.ion-ios-pricetag
                    span.value(v-if="result.latest_tag != null")
                      a.link(target="_blank", v-bind:href="result.html_url + '/releases'") {{ result.latest_tag }}
                    span.value(v-if="result.latest_tag == null")
                      | No releases
            div.col-md-9.mb-2(v-if="result.latest_tag != null")
              button.btn.btn-primary.copy(v-on:click="copyPackageDependencyString(result, $event)")
                i.icon.ion-clipboard
              input(readonly, v-model="result.dependency_string").form-control.dependency