extends ./layout.pug

block content
  section.site-hero.overlay
    .container
      .row.align-items-center.site-hero-inner.justify-content-center
        .col-md-8.text-center
          .mb-5
            h1 Find Swift Packages
            p Discover libraries that support Swift Package Manager
          form#search-form.form-inline(v-on:submit.prevent="performSearch")
            input#search-input.form-control.form-control-block.search-input(type='text', v-model="searchQuery", v-on:input="performSearch" placeholder='Package name, keywords or github username')
            button#search-submit.btn.btn-primary(type='submit') Search
  section.mb-5
    #results.container
      include package-list.pug
  section.mb-5
    #popular.container
      include popular-list.pug
