doctype html
html(lang='en')
  head
    title Swift Package Directory
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Raleway', rel='stylesheet')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/animate.css')
    link(rel='stylesheet', href='fonts/ionicons/css/ionicons.min.css')
    link(rel='stylesheet', href='fonts/fontawesome/css/font-awesome.min.css')
    // Twitter card
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@kylnew")
    meta(name="twitter:title", content="Swift Package Directory")
    // Theme Style
    link(rel='stylesheet', href='css/style.css')

  body
    header(role='banner')
      nav#nav-app.navbar.navbar-expand-md.navbar-dark.bg-light
        .container
          a.navbar-brand(href='index.html') Swift Package Directory
          a.navbar-brand.small(href='index.html') Swift Pkg Dir
          button.navbar-toggler(type='button', v-on:click="toggle()")
            span.navbar-toggler-icon
          div(v-bind:class="{ collapse: !isExpanded }").navbar-collapse.navbar-light
            ul.navbar-nav.ml-auto.pl-lg-5.pl-0
              li.nav-item
                a.nav-link(href='/') Search
              li.nav-item
                a.nav-link(href='/add.html') Add Package

    div#app
      block content

    footer.site-footer
      .container
        .row.mb-5
          .col-md-4
            h3.mb-4 About
            p.mb-4
              | This site is open source. Currently an experiment running on
              br
              |  IBM Cloud's Serverless &amp; Netlify
            p.mb-4
              | This template was derived from 
              br
              a(target='_blank', href='https://colorlib.com/wp/template/listed/')
                strong Listed
              | ; made with 
              i.fa.fa-heart-o(aria-hidden='true')
              |  by 
              a(target='_blank', href='https://colorlib.com') Colorlib
          .col-md-4
            h3.mb-4 Links
            ul.list-unstyled
              li
                a(href='/') Search
              li
                a(href='/add.html') Add Package
          .col-md-4
            h3.mb-4 Contact
            p
              a.p-2(target='_blank', href='https://github.com/bitwit/swift-package-directory')
                span.fa.fa-github
              a.p-2(target='_blank', href='https://twitter.com/kylnew')
                span.fa.fa-twitter
    script(src='js/vue.min.js')
    script(src='js/vue-resource.min.js')
    script(src='js/lodash.min.js')
    script(src='js/main.js')
