h3.text-center.mt-5 Popular Packages
ul.results-list.list-group-flush.row
  li.container.list-group-item.col-md-12.col-lg-6.mt-4(v-for="result in popularResults")
    include list-item-content.pug
div.loader-container.col-12(v-if="popularResults == null")
  include svg/oval-loader.svg